img {
    width: 50px;
    height: 50px;
}

.cartes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /** on centre les symboles **/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
html, body {
    /** bug horizontal de la barre de défilement;(  **/
    overflow-x: hidden;
}
body {
    /** à cause de la navbar fixe **/
    padding-top: 70px;
}
.nabbar {
    position: absolute;
}
footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.text-muted {
    color: #777;
}

.panel-heading span {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 25px;
}

.footer-right {
    float: right;
    margin-right: 40px;
}

.page-header.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.x {
    margin: 5px;
}

.x img {
    border: 2px solid black;
}

.dataTables_wrapper {
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
}
.modal-body {
    padding-bottom: 0;
}
.footer-right-std {
    float: right;
}



@media all and (max-width: 320px){
    .container .text-muted {
        margin: 10px 0;
    }
    p.text-muted {
        width: 270px;
        margin-top: 10px;
    }
    .footer-right {
        position: absolute;
        right: -53px;
        bottom: 0px;
        font-size: 2em;
    }
    .footer-right-std {
        position: absolute;
        right: -17px;
        bottom: 0px;
        font-size: 2em;
    }
}


@media all and (min-width: 321px) and (max-width: 375px){
    .container .text-muted {
        margin: 10px 0;
    }
    p.text-muted {
        width: 270px;
        margin-top: 10px;
    }
    .footer-right {
        position: absolute;
        right: -71px;
        bottom: 0px;
        font-size: 2em;
    }
    .footer-right-std {
        position: absolute;
        right: -29px;
        bottom: 0px;
        font-size: 2em;
    }
}



@media all and (min-width: 376px) and (max-width: 425px){
    .container .text-muted {
        margin: 10px 0;
    }
    p.text-muted {
        width: 270px;
        margin-top: 10px;
    }
    .footer-right {
        position: absolute;
        right: -110px;
        bottom: 0px;
        font-size: 2em;
    }
    .footer-right-std {
        position: absolute;
        right: -86px;
        bottom: 0px;
        font-size: 2em;
    }
}

@media all and (min-width: 426px) and (max-width: 454px){
    .container .text-muted {
        margin: 10px 0;
    }
    p.text-muted {
        width: 270px;
        margin-top: 10px;
    }
    .footer-right {
        position: absolute;
        right: -154px;
        bottom: 0px;
        font-size: 2em;
    }
    .footer-right-std {
        position: absolute;
        right: -134px;
        bottom: 0px;
        font-size: 2em;
    }
}

@media all and (max-width: 768px) {
    .navbar-text {
        display: none;
    }
    .navbar-right {
        display: block;
        float: right;
        margin-right: 15px;
    }
}
.footer_abs {
    position: absolute;
}
.view-history {
    margin-bottom: 60px;
}

p.text-muted {
    position: relative;
}